<tr data-target="todos.todo">
  <td><%= todo.text %></td>
  <td><%= todo.completed %></td>
  <td><%= link_to 'Show', todo %></td>
  <td><%= link_to 'Edit', edit_todo_path(todo), data: { action: "click->todos#edit" } %></td>
  <td><%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <td class="edit"><%= render 'form', todo: todo %></td>
</tr>
